body {
	font-family: Open Sans;
	color: #37393c;
	font-size: 16px;
	background-color: #ffffff;
}
.os-font {
	font-family: 'Engagement', cursive;
}
.bg-light {
	background-color: #ecf5fd !important;
}
#fullscreen-banner .banner-overlay {
	background-image: url(../images/dots.png);
}
.banner-text .banner-text-inner {
	vertical-align: middle;
	padding-bottom: 0;
}
.simple_line {
    border-bottom: 7px solid #ECC931;
	width: 120px;
	margin-top: 7px;
}
.simple_line.center {
	margin-left: auto;
	margin-right: auto;
}
.simple_line.right {
	float: right;
}
.header.scrolling-menu .header-main {
	background-color: rgba(55, 57, 60 ,0.95);
	border-bottom: 1px solid rgba(55, 57, 60 ,0.95);
}
.box-info {
    padding-left: 20%;
    padding-right: 20%;
}
.box-info p {
    color: #37393c;
	font-size: 15px;
}
ul.team {
	margin-left: -15px;
	margin-right: -15px;
}
.team .team-member .member-overlay {
	background-color: #ecf5fd;
}
.team .team-member .member-info,
.team .team-member:hover .member-links .link > a {
	color: #37393c;
}
.footer-top, .footer-bottom {
	background: none;
}
.footer-wrap {
	background-color: #37393c;
    color: #ffffff;
}
.side-menu {
	display: none;
}
@media (max-width: 768px) {
	.side-menu {
		display: block;
	}
	.box-info h2 {
		 font-size: 110px !important; 
	}
}
@media (max-width: 480px) {
	.box-banner {
		height: auto !important;
		min-height: 300px;
	}
	.box-info {
		padding-top: 50px !important;
		padding-bottom: 50px !important;
		height: auto !important;
	}
	.simple_line.right {
		float: left;
	}
}