.color {
    color: #ECC931 !important;
}
a:hover, a:active {
	color: #ECC931;
}
.icon-title {
	color:#ECC931;
}
blockquote {
    border-left: 4px solid #ECC931;
}
.btn.btn-color {
    background-color: #ECC931;
    border-color: #ECC931;
}
.btn.btn-dark:hover {
    background-color: #ECC931;
    border-color: #ECC931;
}
.highlighted:focus {
    background-color:rgba(101, 202, 247 ,0.05);
	border-color:rgba(101, 202, 247 ,0.65);
	color:#ECC931;
}
#searchform input[type=text]:focus {
	border-color: #ECC931;
}
#searchform .form-wrapper i {
    background-color: #ECC931;
}
.navigation-single a:hover {
	color: #ECC931;
}
.paginate .paginate_links .page-numbers.current {
    background: #ECC931;
	border-color: #ECC931;
}
.single-page-title .heading-line {
	border-bottom: 4px solid #ECC931;
}
.header .sidebar-trigger:hover .line,
.prk_shifted .header .sidebar-trigger .line {
    background-color: #ECC931;
}
.header .sidebar-search:hover, 
.header .sidebar-search:focus {
    color: #ECC931;
}
.main-menu .main-nav > li > a:hover, 
.main-menu .main-nav > li > a:focus,
.main-menu .main-nav > li.active > a,
.main-menu .main-nav > li > a.current,
.header.scrolling-menu .main-menu .main-nav > li > a:hover, 
.header.scrolling-menu .main-menu .main-nav > li > a:focus,
.header.scrolling-menu .main-menu .main-nav > li.active > a,
.header.scrolling-menu .main-menu .main-nav > li > a.current {
    color: #ECC931;
}
.header .sidebar-trigger:hover .line {
	background-color: #ECC931;
}
.main-menu .main-nav > li > a:before {
	background-color: #ECC931;
}
.main-menu .main-nav li .sub-menu li a:hover {
	color: #ECC931;
}
.hidden-bar .highlighted:focus {
    background-color:rgba(101, 202, 247 ,0.05);
	border-color:rgba(101, 202, 247 ,0.65);
	color:#ECC931;
}
.testimonials-slider .owl-page.active:before {
    background-color: #ECC931;
    border-color: #ECC931;
}
.masonry-filter li:hover a,
.masonry-filter li a.active {
	background-color: #ECC931;
}
.section-portfolio-nav .nav-left a:hover,
.section-portfolio-nav .nav-right a:hover {
    color: #ECC931;
}
.section-portfolio-nav .nav-thumb a:hover .grid {
	background: #ECC931;
    color: #ECC931;
}
.portfolio-detail .single-portfolio-meta a:hover {
    color: #ECC931;
}
.portfolio-grid .grid-content-wrapper .grid-content .liner.color {
	border-bottom-color: #ECC931;
}
.footer-top a:hover {
    color: #ECC931;
}
.footer-top .highlighted:focus {
    background-color:rgba(101, 202, 247 ,0.05);
	border-color:rgba(101, 202, 247 ,0.65);
	color:#ECC931;
}
.recent-post h6 a:hover,
.recent-post h6 a:hover i{
    color: #ECC931;
}
.section-fullscreen .single-blog-info .single-blog-meta a:hover {
	color: #ECC931;
}
.section-fullscreen .single-blog-info .btn-border:hover {
	background-color: #ECC931;
	border-color: #ECC931;
}
.section-normal .single-blog-read a:hover {
	color: #ECC931;
}
.section-normal .single-blog-info .single-blog-meta a:hover {
	color: #ECC931;
}
.single-blog-content .single-blog-tags .tag-link a:hover {
    background-color: #ECC931;
    border-color: #ECC931;
}
.team .team-member .member-name a:hover {
	color: #ECC931;
}
.section-team-detail .position {
	background-color: #ECC931;
}
.widget_recent_posts ul li a {
    color: #ECC931;
}
.widget .tagcloud a:hover {
	background-color: #ECC931;
    border-color: #ECC931;
}
span.onsale {
	background: #ECC931;
}
ul.products li.product .product-thumb .product-add-cart:hover {
	color: #ECC931;
}
ul.products li.product .product-info .product-cate a:hover {
	color: #ECC931;
}
.star-rating span {
    color: #ECC931;
}
.single-product .summary .cart button:hover {
	background-color: #ECC931;
}
.single-product .summary .product-meta > span a {
	color: #ECC931;
}
table.shop-table td.actions .button:hover {
    background: #ECC931;
}
.cart-collaterals .button:hover {
    background: #ECC931;
}
.go-to-top:hover {
	background-color: #ECC931;
}
.overlay-menu .line {
	background-color: #ECC931;
}
.overlay-menu .line:after, 
.header.header-transparent .overlay-menu:hover .line,
.header.header-transparent.scrolling-menu .overlay-menu .line { 
	background-color: #ECC931;
}
.hidden-menu .hidden-menu-inner ul > li a:hover {
	color: #ECC931;
}
.hidden-menu .hidden-menu-footer a:hover {
	color: #ECC931;
}
.nav-tabs>li.active > a, 
.nav-tabs > li.active > a:focus, 
.nav-tabs > li.active > a:hover {
	color: #ECC931;
}
blockquote.style-3 {
	background-color: #ECC931;
}
.block-progressbar .progressbar {
    background-color: #ECC931;
}
.price-table .price-header {
	background-color: #ECC931;
}